<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="com.mamoru" level="DEBUG" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Root level="DEBUG">
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>

</Configuration>